@font-face {
	font-family: smpfont;
	src: url('font.otf');
}

.smp_body {
	text-align: center;
}

body {
	font-family: smpfont;
}
 
a {
	appearance: button;
    text-decoration: none;
    color: initial;
}

p.status {
	color: #DE0022;
}