@font-face {
	font-family: smpfont;
	src: url('font.otf');
}

body {
	font-family: Arial;
	font-weight: 900;
	letter-spacing: 1px;
	text-transform: lowercase;
	background-color: #131014;
	color: #dce0e4;
}

a {
	appearance: button;
	text-decoration: none;
	color: #6faae4;
}

p.status {
	color: #DE0022;
}

.indent {
	margin-left: 20px;
}

table,
th,
td {
	width: 100%;
	border: 2px solid black;
}