@font-face {
	font-family: smpfont;
	src: url('font.otf');
}

body {
	font-family: Arial;
	letter-spacing: 1px;
	text-transform: lowercase;
	background-color: #424143;
	color: #dce0e4;
}

h1 {
	width: fit-content;
	border: 2px solid #2d2c2e;
	border-radius: 5px;
}

a {
	appearance: button;
	text-decoration: none;
	color: #6faae4;
}

p.status {
	color: #DE0022;
}

.indent {
	margin-left: 20px;
}

li { 
	margin-top: 10px;  
 }